<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple database example</title>
</head>
<body>

<h1>This is a simple database example</h1>

<form action="/add-message" method="post">
    <input name="username" placeholder="Enter your name">
    <br>
    <br>

    <textarea placeholder="Enter your message" name="text" rows="5"></textarea>
    <br>

    <button type="submit">Submit</button>

    <h2>Messages:</h2>

    {% for message in messages %}
    <p>
        <strong>{{ message.author}}:</strong>
        {{message.text}}
    </p>
    {% endfor %}

</form>

</body>
</html>